@CHARSET "UTF-8";

body { font-family: 'Source Sans Pro', sans-serif; }
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: #075a40;
}
#controls .links, 
#controls .links a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #10a667;
}
.form input[type="text"], 
.form input[type="password"] {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 37px;
	color: #075a40;
}
.form button[type="submit"] {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 37px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}
#traps .traps > p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #075a40;
}
#traps .traps ul li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #075a40;
	text-align: center;
}

/* POPUP */
.popup p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #075a40;
}
.popup h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #075a40;
	text-align: center;
}
.popup ul.users li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #075a40;
}
.popup ul.users li em { font-style: italic; }
.popup ul.menu li a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #1a1a1a;
}
.popup ul.menu li a.selected { text-decoration: none; }
/* /POPUP */

/* MISC */
[data-misc~=button] {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #fefefe;
	text-align: center;
}
[data-misc~=button][data-misc~=small] {
	font-size: 12px;
	line-height: 20px;
}
[data-misc~=button][data-misc~=large] {
	font-size: 14px;
	line-height: 36px;
	font-weight: 600;
	text-transform: uppercase;
}
/* /MISC */